<header class="flex justify-center lg:justify-end px-8">
    <!-- Logo and Icon Portrait -->
    <section class="lg:absolute w-full md:w-[440px] flex justify-center items-center">
        <img class="w-32 md:w-[234px]" src="./logo.png" alt="Logo Pokru">
        <img class="w-32 md:w-[180px]" src="./portrait.png" alt="Portrait Pokru">
    </section>
</header>