<header
  class="w-full flex flex-col lg:flex-row-reverse items-center lg:absolute top-0 right-0 p-10 lg:gap-6"
>
  <div class="flex flex-row-reverse justify-end items-center">
    <a href="index.html" class="w-1/2"
      ><img
        class=" sm:w-72 lg:w-44 object-cover"
        src="./portrait.webp"
        alt="Portrait Pokru"
      /></a
    >
    <a href="index.html" class="w-1/2"
      ><img
        class=" sm:w-72 lg:w-64 object-cover"
        src="./logo.webp"
        alt="Logo Pokru"
      /></a
    >
  </div>

  <div class="hidden xl:flex">
    <!-- The button to open modal -->
    <label
      for="my-modal-4"
      class="btn text-white bg-[#FF8383] flex-nowrap text-xl flex h-fit border-white hover:bg-[#e86c6c] hover:border-red-400"
      ><i class="fa-solid fa-circle-info"></i></label
    >
    <!-- Put this part before </body> tag -->
    <input type="checkbox" id="my-modal-4" class="modal-toggle" />
    <label for="my-modal-4" class="modal cursor-pointer">
      <label
        class="modal-box relative bg-[#FF8383] text-white border-2 border-white"
        for=""
      >
        <h3 class="text-lg font-bold">Hello, I'm Pokru ♡</h3>
        <p class="py-4">
          This is my new page to get to know me and order commissions for
          illustrations, animations, or graphics. Let's collaborate to bring
          your ideas to life!
        </p>
      </label>
    </label>
  </div>
</header>
