<header
  class="w-full flex flex-col lg:flex-row-reverse items-center lg:absolute top-0 right-0 p-10 lg:gap-6"
>
  <!-- Imagenes de logo y Portrait -->
  <div
    class="flex flex-row-reverse justify-end items-center animate-slide-left"
  >
    <a href="index.html" class="w-1/2">
      <img
        class="sm:w-72 lg:w-44 object-cover"
        src="./portrait.webp"
        alt="Nombre en imagen de Pokru"
      />
    </a>
    <a href="index.html" class="w-1/2">
      <img
        class="sm:w-72 lg:w-64 object-cover"
        src="./logo.webp"
        alt="Logotipo de Pokru"
      />
    </a>
  </div>

  <style>
    .custom-bounce {
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-name: custom-bounce;
      animation-timing-function: ease-in-out;
      will-change: transform;
      animation-play-state: running;
    }
    @keyframes custom-bounce {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-2px);
      }
      100% {
        transform: translateY(0);
      }
    }
  </style>

  <!-- Botón para ver más información -->
  <div class="hidden xl:flex">
    <!-- Para abrir la Modal -->
    <label
      for="my-modal-4"
      class="btn text-white bg-[#FF8383] flex-nowrap text-xl flex h-fit border-white hover:bg-[#e86c6c] hover:border-red-400 custom-bounce duration-1000 overflow-hidden"
    >
      <i class="fa-solid fa-circle-info"></i>
    </label>

    <input type="checkbox" id="my-modal-4" class="modal-toggle" />
    <label for="my-modal-4" class="modal cursor-pointer">
      <label
        class="modal-box relative bg-[#FF8383] text-white border-2 border-white"
        for=""
      >
        <h3 class="text-lg font-bold">Hello, I'm Pokru ♡</h3>
        <p class="py-4">
          This is my new page to get to know me and order commissions for
          illustrations, animations, or graphics. Let's collaborate to bring
          your ideas to life!
        </p>
      </label>
    </label>
  </div>
</header>
