---
interface Props {
  pageTitle?: string;
  pageDescription?: string;
  styles?: string;
}

const { pageTitle, pageDescription, styles } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{pageTitle}</title>
    <meta name="description" content={pageDescription} />
  </head>
  <body style={styles}>
    <slot />
  </body>
</html>
