<main
  class="lg:h-[100vh] h-screen lg:mb-0 flex justify-center lg:justify-around lg:items-center w-10/12 lg:w-11/12 mx-auto lg:gap-10"
>
  <!-- Menu Card -->
  <section
    class="relative flex justify-center items-center w-[440px] h-fit bg-[#FF8383] p-4 rounded-[50px] border-[3px] border-[#FF7DA3] shadow-[10px_4px_6px_#d63e3ecf]"
  >
    <!-- Area de botones unicamente -->
    <div
      class="bg-[#FFC7D2] h-full rounded-[50px] border-[5px] border-white flex justify-center items-center"
    >
      <div class="flex flex-col h-4/5 justify-center items-center gap-3">
        <!-- First Absolute -->
        <div class="h-28 w-full flex justify-center items-center">
          <img
            class="absolute top-2 w-11/12"
            src="./welcome.png"
            alt="Welcome Heading"
          />
        </div>

        <!-- Primer botón -->
        <a href="#">
          <img
            class="object-cover border-[5px] rounded-[75px] border-white bg-[#FFB2B7] w-9/12 mx-auto shadow-[0px_4px_4px_#FF7CA3]"
            src="./portfolio.png"
            alt="Portfolio"
          />
        </a>
        <!-- Segundo botón -->
        <a href="#">
          <img
            class="object-cover border-[5px] rounded-[75px] border-white bg-[#FFB2B7] w-9/12 mx-auto shadow-[0px_4px_4px_#FF7CA3]"
            src="./prices.png"
            alt="Prices"
          />
        </a>
        <!-- Tercer botón -->
        <a href="#">
          <img
            class="border-[5px] rounded-[75px] border-white bg-[#FFB2B7] w-9/12 mx-auto shadow-[0px_4px_4px_#FF7CA3]"
            src="./ych.png"
            alt="YCH"
          />
        </a>
        <!-- Cuarto botón -->
        <a href="#">
          <img
            class="object-cover border-[5px] rounded-[75px] border-white bg-[#FFB2B7] w-9/12 mx-auto shadow-[0px_4px_4px_#FF7CA3]"
            src="./terms.png"
            alt="Terms and conditions"
          />
        </a>
        <!-- Quinto botón -->
        <a href="#">
          <img
            class="object-cover border-[5px] rounded-[75px] border-white bg-[#FFB2B7] w-7/12 mx-auto px-2 py-1 shadow-[0px_4px_4px_#FF7CA3]"
            src="./ordernow.png"
            alt="Order Now"
          />
        </a>

        <div class=" flex justify-center items-center">
          <!-- Second Absolute -->
          <div
            class="absolute px-4 flex w-8/12 h-14 -bottom-7 lg:-bottom-16 border-[5px] rounded-[30px] border-white bg-[#FF8383]"
          >
            <a class="w-full h-full flex justify-center items-center" href="#"
              ><img class="h-full object-cover" src="ig-icon.png" alt="Instagram" /></a
            >
            <a class="w-full h-full flex justify-center items-center" href="#"
              ><img class="h-full object-cover" src="fb-icon.png" alt="Facebook" /></a
            >
            <a class="w-full h-full flex justify-center items-center" href="#"
              ><img class="h-full object-cover" src="email-icon.png" alt="Email" /></a
            >
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- All Arts -->

  <section class="hidden translate-y-20 lg:flex flex-row gap-8 w-2/4 mx-auto">
    <!-- Art 01 -->
    <section
      class="hidden lg:flex lg:relative w-full lg:h-[56vh] bg-[#FF8383] p-3 rounded-[57px] shadow-[0px_0px_15px_15px_#d54545c2]"
    >
    <img class="absolute bottom-0 right-0 w-12" src="./decoration-01.gif" alt="Decorate Image">
      
      <img
        class="object-cover w-full h-full rounded-[45px] border-[5px] border-white flex justify-center items-center"
        src="art-01.png"
        alt="Art of Pokru"
      />
    </section>
    <!-- Art 02 -->
    <section
      class="hidden lg:flex lg:relative w-full lg:h-[56vh] bg-[#FF8383] p-3 rounded-[57px] shadow-[0px_0px_15px_15px_#d54545c2]"
    >
    <img class="absolute bottom-0 right-0 w-12" src="./decoration-01.gif" alt="Decorate Image">
      
      <img
        class="object-cover w-full h-full rounded-[45px] border-[5px] border-white flex justify-center items-center"
        src="art-02.png"
        alt="Art of Pokru"
      />
    </section>
    <!-- Art 03 -->
    <section
      class="hidden lg:flex lg:relative w-full lg:h-[56vh] bg-[#FF8383] p-3 rounded-[57px] shadow-[0px_0px_15px_15px_#d54545c2]"
    > 
      <img class="absolute top-0 right-0 w-16" src="./decoration-02.gif" alt="Decorate Image">
      <img class="absolute bottom-0 right-0 w-12" src="./decoration-01.gif" alt="Decorate Image">
      <img
        class="object-cover w-full h-full rounded-[45px] border-[5px] border-white flex justify-center items-center"
        src="art-03.png"
        alt="Art of Pokru"
      />
    </section>
  </section>
</main>
