---
import MenuCard from "./MenuCard.astro";
import AllArts from "./AllArts.astro";
---

<main
  class="flex justify-center lg:justify-around lg:items-center mx-auto w-11/12 lg:w-11/12 h-full lg:h-screen lg:gap-10"
>
  <MenuCard />
  <AllArts />
</main>
