---
interface Props {
  source: string;
  alttext: string;
  ref: string;
}
const { source, alttext, ref } = Astro.props;
---

<a class="flex justify-center items-center" href={ref}>
  <img
    class="w-20 object-cover hover:scale-105 hover:rotate-6 transition"
    src={source}
    alt={alttext}
  />
</a>
